@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&subset=latin-ext');

* {
	margin: 0;
	padding: 0;
	font-family: "Roboto", "sans-serif";
	box-sizing: border-box;
}

body {
	background-color: #56ACED;
	color: #fff;
	text-align: center;
}

header {
	display: block;
	margin: 50px auto;
	margin-bottom: 80px;
}

header h1 {
	padding: 10px;
	font-size: 4rem;
}

.text {
	font-size: 1.3rem;
	margin: 10px auto;
	height: 200px;
}

.text__quote {
	margin: 20px;
	padding: 10px;
	font-style: oblique;
	font-weight: 300;
}

.text__author {
	margin: 20px;
	padding: 10px;
	font-weight: 300;
}

.app-btn {
	border-radius: 10px;
	border: none;
	margin: 45px;
	padding: 10px 30px;
	font-size: 24px;
	cursor: pointer;
	width: 40%;
}

.app-btn--primary {
	background-color: transparent;
	border: 1px solid #fff;
	color: #fff;
	text-decoration-line: none;
}

.app-btn__icon {
	margin: 0 10px 0 0;
}

.tweet {
	display: block;
	margin: 0 auto;
}

.loader {
	margin: 50px auto;
	border: 8px solid #fff;
	border-top: 8px solid #56ACED;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}